.quotebox {

    padding-left: 10px;
    font-size: 50px;
    background-color: #FF4141;
    width: 58px;
    height: 58px;
    position: absolute;
    top: 663px;
    right: 321px;
    color: white;
}

.profilebox {
    padding: 0px 20px;
    font-size: 50px;
    background-color: #211D70;
    width: 146px;
    height: 72px;
    position: absolute;
    top: 720px;
    right: 203px;
    color: white;
}